.labels{
  width: 10%;
  display: inline-block;
  margin-right: 5%;
  text-align: right;
}
.variable{
  width: 10%;
  text-align: center;
  margin-left: 2%;
  margin-right: 3%;
}
button.operator{
  width: 15%;
  height: 10%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
div.buttons{
  width: 50%;
  text-align: center;
  margin-top: 2%;
}
